@import "/src/assets/styles/var.less";

.user-info-container {
  display: flex;
  justify-content: center;
  width: 100%;
  color: @base-font-color-1;

  & .avatar {
  font-size: 18px;
    p {
      margin-top: 32px;
      text-align: center;
    }
  } 
};